$primary-color: #42b983;

.header {
    padding: 0 8px 0;
    display: inline-block;
    &-name {
        cursor: pointer;
        font-size: 1.25em;
        color: $primary-color;
        display: flex;
        align-items: center;
        padding: 8px 0;
        &-text {
            margin-left: 8px;
            font-weight: 500;
        }
    }
}