@import url('https://fonts.font.im/css?family=Graduate');
$primary-color: #42b983;

.header {
    background-color: #f6f6f6;
    padding: 8px;
    &-name {
        font-size: 1.25em;
        color: $primary-color;
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        padding: 8px 0;
        &-text {
            margin-left: 8px;
            font-weight: 500;
        }
    }
    &-menu {
        font-family: 'Graduate', sans-serif;
        &-item {
            color: $primary-color;
            font-size: 1.25em;
        }
    }
}